body {
    background-color: rgb(0, 0, 0);
}

.upperContainer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.8em;
    padding: 1.0em;
    
}

.midleContainer {
    text-align: center;
    background-color:white;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    /* display: grid;
    grid-template-columns: 1fr; */
    
}
span {
    padding: 1em;
    
}

p {
    font-size: 1.3em;
}

.inputContainer {
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

.footerContainer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 1.0em;
}

.highContainer {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.tradingContainer {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

@media(max-width: 800px){
    .upperContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .midleContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footerContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}